{
  "comments": false,
  "env": {
{{#if unit}}
    "testing-unit": {
      "presets": ["es2015", "stage-0"],
      "plugins": ["istanbul"]
    },
{{/if}}
{{#if e2e}}
    "testing-e2e": {
      "presets": ["es2015", "stage-0"]
    },
{{/if}}
    "main": {
      "presets": [
        ["env", {
          "useBuiltIns": true,
          "targets": { "node": 7 }
        }],
        "stage-0"
      ]
    },
    "renderer": {
      "presets": [
        ["env", {
          "modules": false,
          "targets": { "node": 7 },
          "useBuiltIns": true
        }],
        "stage-0"
      ]
    }
  },
  "plugins": ["transform-runtime"]
}
