{
  "comments": false,
  "env": {
{{#testing unit e2e}}
    "test": {
      "presets": [
        ["@babel/preset-env", {
          "targets": { "node": 7 }
        }],
      ],
      "plugins": ["istanbul"]
    },
{{/testing}}
    "main": {
      "presets": [
        ["env", {
          "targets": { "node": 7 }
        }],
        "stage-0"
      ]
    },
    "renderer": {
      "presets": [
        ["@babel/preset-env", {
          "modules": false
        }],
      ]
    },
    "web": {
      "presets": [
        ["@babel/preset-env", {
          "modules": false
        }],
      ]
    }
  },
  "plugins": ["@babel/plugin-transform-runtime"]
}
