.DS_Store
app/dist/index.html
app/dist/main.js
app/dist/renderer.js
app/dist/styles.css
builds/*
{{#if_eq builder 'builder'}}
dist/*
{{/if_eq}}
{{#if unit}}
coverage
{{/if}}
node_modules/
npm-debug.log
npm-debug.log.*
thumbs.db
!.gitkeep
