{
  "env": {
    "mocha": true
  },
  "globals": {
    "assert": true,
    "expect": true,
    "should": true,
    "__static": true
  },
  "rules": {
    "func-names": 0,
    "prefer-arrow-callback": 0,
    "no-console": 0,
    "import/no-extraneous-dependencies": ["error", {"devDependencies": true, "optionalDependencies": false, "peerDependencies": false}]
  }
}
