{
  "comments": false,
  "env": {
{{#if unit}}
    "testing-unit": {
      "presets": ["es2015", "stage-0"],
      "plugins": ["istanbul"]
    },
{{/if}}
{{#if e2e}}
    "testing-e2e": {
      "presets": ["es2015", "stage-0"]
    },
{{/if}}
    "main": {
      "presets": ["es2015", "stage-0"]
    },
    "renderer": {
      "presets": [
        ["es2015", { "modules": false }],
        "stage-0"
      ]
    }
  },
  "plugins": ["transform-runtime"]
}
