@import url('https://fonts.googleapis.com/css?family=Roboto+Mono|Roboto|');

code,
nav,
h1, h2, h3,
h4, h5, h6 {
  font-family: 'Roboto Mono', sans-serif;
}

section h1:after,
section h2:after,
section h3:after,
section h4:after,
section h5:after,
section h6:after {
  content: '¬';
  padding-left: .7%;
  opacity: .3;
}

section { font-family: 'Roboto', sans-serif; }

.chapter.active, nav > ul > li:nth-child(1) > a { font-weight: bold; }

nav > ul > li:nth-child(1) > a:before {
  content: '';
  display: inline-block;
  width: 54px;
  height: 54px;
  vertical-align: middle;
  margin-right: 10px;
  background-image: url('http://i.imgur.com/bcyenS0.png');
  background-size: cover;
}

.book-body { background-color: #fafafa; }

pre,
p > code,
li code {
  background-color: rgba(255,255,255,.75);
  border-radius: 8px;
  box-shadow: 1px 1px 8px rgba(0,0,0,.07);
}